@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2 {
    font-family: "Krona One", sans-serif;
}

p, li, h3 {
    font-family: "Montserrat", sans-serif;
}

.apresentacao__conteudo {
    width: 700px;
}