@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-titulo: "Krona One", sans-serif;
    --fonte-texto: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}

p {
    font-family: var(--fonte-texto);
}

a {
    text-decoration: none;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-texto);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 3% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-titulo);
}

.listas-desordenadas-lista {
    font-family: var(--fonte-texto);
}

.texto-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
}

.apresentacao__imagem {
    width: 50%;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: 2px solid var(--cor-terciaria);
    text-align: center;
    width: 50%;
    border-radius: 8px;
    font-family: var(--fonte-texto);
    font-weight: 600;
    font-size: 1.5rem;
    padding: 21.5px 0;
    color: var(--cor-secundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    width: 400px;
}

.rodape {
    color: var(--cor-principal);
    background-color: var(--cor-terciaria);
    padding: 24px 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 6%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}